<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>pptx</string>
	<string>M9.1-6369-2</string>
	<string>M10.1-6913-2</string>
	<string>M10.2-7028.0.88-3</string>
	<string>G-r1020-10C141</string>
</array>
</plist>
